<h3>{{ _('Filtracker') }}</h3>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.SD3D.cloudMode"> {{ _('Enable material profile optimization (Cloud Mode)') }}
        </label>
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.SD3D.autoPrintMode"> {{ _('Enable automatic slicing and printing of STL files (AutoPrint Mode)') }}
        </label>
    </div>
</div>
<h4>{{ _('AutoPrint Settings') }}</h4>
<label class="control-label">{{ _('Default Layer Height (mm)') }}</label>
<div class="controls">
    <input type="text" class="input-block-level" data-bind="value: settings.plugins.SD3D.layerHeight">
</div>
<label class="control-label">{{ _('Infill percentage (1-100)') }}</label>
<div class="controls">
    <input type="text" class="input-block-level" data-bind="value: settings.plugins.SD3D.fillDensity">
</div>
<label class="control-label">{{ _(' ') }}</label>
<h4>{{ _('Cloud Mode API') }}</h4>
<label class="control-label">{{ _('SD3D API Key') }}</label>
<div class="controls">
    <input type="text" class="input-block-level" data-bind="value: settings.plugins.SD3D.sd3dAPIKey" disabled>
</div>
<label class="control-label">{{ _('Access ID') }}</label>
<div class="controls">
    <input type="text" class="input-block-level" data-bind="value: settings.plugins.SD3D.sd3dAccessID" disabled>
</div>
<label class="control-label">{{ _('Device ID') }}</label>
<div class="controls">
    <input type="text" class="input-block-level" data-bind="value: settings.plugins.SD3D.macAddress" disabled>
</div>
