<form class="form-horizontal">
   <label class="control-label">{{ _('Default infill percentage (1-100)') }}</label>
    <div class="controls">
    <input type="text" class="input-block-level" id="fillPercentInstall" placeholder="20">
   </div>
   <div class="control-group">
         <button class="btn btn-block" type="button" id="install-btn" data-bind="click: function() { $root.installDeps() }">{{ _('Install Dependency Packages') }}</button>
   <br><p>NOTICE: By installing this plugin you consent to the terms of use as detailed in the official <a href="https://github.com/SD3D/Filtracker/wiki">Filtracker Manual</a>
   </div>
</form>
