<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Device ID') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.did">
        </div>
        <label class="control-label">{{ _('Octoprint Api Key') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.apiKey">
        </div>
        <label class="control-label">{{ _('Locbit Api Key') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.locbitAPIKey">
        </div>
        <label class="control-label">{{ _('Locbit Access ID') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.locbitAccessID">
        </div>
        <label class="control-label">{{ _('Desired Layer Height in mm') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.layerHeight">
        </div>
        <label class="control-label">{{ _('Layer Height difference threshold in mm') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.layerHeightThreshold">
        </div>
        <label class="control-label">{{ _('Fill density percentage (1-100)') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.fillDensity">
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.Locbit.sharingMode"> {{ _('Enable information sharing with Locbit (Sharing Mode)') }}
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.Locbit.cloudMode"> {{ _('Enable downloading of profiles from Locbit (Cloud Mode)') }}
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.Locbit.autoPrintMode"> {{ _('Enable automatic slicing and printing of uploaded STL files') }}
                </label>
            </div>
        </div>
        <label class="control-label">{{ _('Material') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.material">
        </div>
        <label class="control-label">{{ _('Material Diameter') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.diameter">
        </div>
        <label class="control-label">{{ _('Color') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.color">
        </div>
        <label class="control-label">{{ _('Initial Length') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.initial_length">
        </div>
        <label class="control-label">{{ _('Length') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.length">
        </div>
        <label class="control-label">{{ _('MUID') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.muid">
        </div>
       <label class="control-label">{{ _('Job Progress') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.jobProgress">
        </div>
    </div>
</form>
