<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Device ID') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.did">
        </div>
        <label class="control-label">{{ _('Api Key') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Locbit.apiKey">
        </div>
    </div>
</form>